.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  text-align: center;
  font-weight: bold;
  display: block;
  color: rgba(255, 242, 251, 0.69);
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.form-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
}

.form-control.invalid input {
  border-color: #ff0000;
  background: #bd434391;
}
