h1 {
  font-size: 35px;
  font-weight: bold;
  font-family: Gill Sans Extrabold, system-ui;
  text-align: center;
  color: rgb(26, 44, 78);
}

#i1 {
  background-color: rgb(179, 37, 37);
}
#i2 {
  background-color: rgb(120, 138, 42);
}
#i3 {
  background-color: rgb(58, 139, 58);
}

section {
  position: relative;
  background-color: rgb(26, 44, 78);
  border: 3px solid black;
  margin: 10px;
}

h3 {
  position: relative;
  float: right;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  margin: 0;
  padding: 5px;
  text-align: center;
}

p {
  padding: 40px 15px 15px 15px;
  color: rgb(212, 220, 226);
  font-family: Gill Sans Extrabold, system-ui;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  width: 100%;
}

/* for desktop */

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/* for tablet */

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,
  .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* for mobile */

@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}
