header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

#about {
  clear: both;
}

.lead {
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  header img {
    clear: both;
    margin: 10px auto;
    width: 200px;
  }
  .lead {
    font-size: 20px;
  }
  td {
    display: block;
  }
  table,
  tr,
  td {
    margin: 0px auto;
  }
}

@media (min-width: 768px) {
  header img {
    float: left;
    width: 350px;
  }
  .lead {
    font-size: 30px;
  }
}
