* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

h1 {
  text-align: center;
  color: #3b5998;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h3 {
  text-align: center;
  color: #8b9dc3;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
